*, *::before, *::after {
    box-sizing: border-box;
}



.progress-bar {
    position: relative;
    width: 710px;
    height: 3em;
    background-color: rgb(17, 17, 17, 0.5);
    border-radius: 1.5em;
    color: white;
    align-items: center;
}

.progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 1rem;
    max-width: calc(100% - 1em);
    background-color: white; ;
    border-radius: 1em;
    padding: 1em;
}

.containeriniciar h1{
    color: #fff;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    align-items: center;

}

.containeriniciar p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    align-items: center;
}






